$background: #202020;
$text: #fff;
$secondaryText: #a0a0a0;
$accent: #03a9f4;
$animationTime: 350ms;

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@mixin for-phone-only() {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up() {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up() {
  @media (min-width: 1200px) {
    @content;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $background;
  color: $text;
  display: flex;

  @include for-phone-only() {
    flex-direction: column;
    align-items: stretch;
  }
}

input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

#app-root {
  display: flex;
  flex-direction: column;

  .app-title {
    margin: 32px;
  }

  .options-picker {
    margin: 32px;
    display: flex;

    @include for-phone-only() {
      flex-direction: column;

      div + div {
        margin-top: 16px;
      }
    }

    @include for-tablet-portrait-up() {
      flex-direction: row;

      div + div {
        margin-left: 16px;
      }
    }

    div.field {
      display: flex;
      flex-direction: column;

      label {
        font-size: 14px;
        margin-bottom: 2px;
      }

      input {
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 4px;
        background-color: $background;
        color: $text;
        border: unset;
        border-bottom: 1px solid $text;
        margin-bottom: 1px;
        transition: border-bottom-color 0.2s ease-in-out;

        &:focus {
          outline: none;
          border-bottom: 2px solid $accent;
          margin-bottom: 0px;
        }
      }

      .toggle {
        position: relative;
        background: $background;
        width: 90px;
        height: 30px;
        -webkit-appearance: initial;
        border-radius: 3px;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid #ddd;

        &:focus {
          border: 1px solid #ddd;
        }
      }

      .toggle:after {
        position: absolute;
        top: 5%;
        display: block;
        line-height: 24px;
        width: 45%;
        height: 90%;
        background: #fff;
        box-sizing: border-box;
        text-align: center;
        transition: all 0.15s ease-in 0s;
        color: black;
        border: #888 1px solid;
        border-radius: 3px;
      }

      .toggle:after {
        left: 2%;
        content: 'OFF';
      }

      .toggle:checked:after {
        left: 53%;
        content: 'ON';
      }
    }
  }

  .text-color-display {
    margin: 32px;
    display: flex;
    flex-wrap: wrap;

    @include for-phone-only() {
      flex-direction: column;
      align-items: center;
    }

    @include for-tablet-portrait-up() {
      flex-direction: row;
    }

    .swatch {
      width: 160px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      margin: 16px;
      animation: animateIn $animationTime;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-delay: calc(var(--animation-order) * 75ms);
      transition: background-color 0.5s ease-in-out;

      .text {
        animation: animateIn $animationTime;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-delay: calc((var(--animation-order) + 2) * 75ms);
        background-color: transparent;
        transition: color 0.5s ease-in-out;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: $secondaryText;

    a {
      color: $secondaryText;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $accent;
      }
    }
  }
}
